<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{common.app.name}">Ma Banque</title>

    <!-- Picnic CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Remix Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" />
</head>

<body>
    <nav>
        <a th:href="@{/}" class="brand">
            <i class="ri-bank-line"></i>
            <span th:text="#{common.app.name}">Ma Banque</span>
        </a>

        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">&#9776;</label>

        <div class="menu">
            <a th:href="@{/contact}" class="pseudo button" th:text="#{common.contact}">Contact</a>
            <!-- Sélecteur de langue -->
            <div th:replace="~{fragments/language-selector :: language-selector-fr}"></div>
            <div th:replace="~{fragments/language-selector :: language-selector-en}"></div>

            <form th:if="${isUserLoggedIn}" th:action="@{/logout}" method="post" class="disconnect">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="error"><i class="ri-logout-circle-line"></i></button>
            </form>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="container">
        <div layout:fragment="content">
            <!-- Le contenu de la page sera inséré ici -->
        </div>
    </main>

    <!-- HTMX -->
    <!--<script th:src="@{/js/htmx.min.js}"></script>-->
</body>

</html>